In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import matplotlib.patches as mpatches
%matplotlib inline
import seaborn as sns
import calendar
import plotly as pt
from plotly import graph_objs as go
import plotly.express as px
import plotly.figure_factory as ff
from pylab import *
import matplotlib.patheffects as PathEffects

In [3]:
import descartes
import geopandas as gpd
from Levenshtein import distance
from itertools import product
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
from scipy.spatial.distance import pdist, squareform
from shapely.geometry import Point, Polygon

import geoplot
import geopy

In [4]:
df = pd.read_csv("DataSubsetRaw.csv")

In [8]:
df.head()

,Unnamed: 0,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,956661,A-956687,MapQuest,201.0,2,2019-09-03 16:02:01,2019-09-03 16:46:48,30.420919,-91.187523,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
1,2857880,A-2857996,Bing,NaN,1,2020-03-18 16:15:54,2020-03-18 16:30:54,41.357090,-81.904190,41.33235,...,False,False,False,False,False,False,Day,Day,Day,Day
2,67872,A-67874,MapQuest,201.0,2,2016-10-31 06:46:34,2016-10-31 07:24:00,33.695847,-117.863785,NaN,...,False,False,False,False,False,False,Night,Day,Day,Day
3,181500,A-181502,MapQuest,406.0,3,2016-12-25 01:22:48,2016-12-25 01:52:15,42.378181,-83.062767,NaN,...,False,False,False,False,False,False,Night,Night,Night,Night
4,3292758,A-3292918,Bing,NaN,2,2018-07-02 14:35:28,2018-07-02 20:35:28,39.173220,-77.245400,39.17589,...,False,False,False,False,False,False,Day,Day,Day,Day