In [1]:
import pandas as pd

In [16]:
df = pd.read_csv("DataSubsetRaw.csv")

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 50 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             10000 non-null  int64
 1   ID                     10000 non-null  object
 2   Source                 10000 non-null  object
 3   TMC                    7008 non-null   float64
 4   Severity               10000 non-null  int64
 5   Start_Time             10000 non-null  object
 6   End_Time               10000 non-null  object
 7   Start_Lat              10000 non-null  float64
 8   Start_Lng              10000 non-null  float64
 9   End_Lat                2992 non-null   float64
 10  End_Lng                2992 non-null   float64
 11  Distance(mi)           10000 non-null  float64
 12  Description            10000 non-null  object
 13  Number                 3540 non-null   float64
 14  Street                 10000 non-null  object
 15  Side                   10000 non-null  object
 16  City                   9999 non-null   object
 17  County                 10000 non-null  object
 18  State                  10000 non-null  object
 19  Zipcode                9996 non-null   object
 20  Country                10000 non-null  object
 21  Timezone               9986 non-null   object
 22  Airport_Code           9982 non-null   object
 23  Weather_Timestamp      9856 non-null   object
 24  Temperature(F)         9804 non-null   float64
 25  Wind_Chill(F)          4686 non-null   float64
 26  Humidity(%)            9786 non-null   float64
 27  Pressure(in)           9830 non-null   float64
 28  Visibility(mi)         9779 non-null   float64
 29  Wind_Direction         9816 non-null   object
 30  Wind_Speed(mph)        8661 non-null   float64
 31  Precipitation(in)      4208 non-null   float64
 32  Weather_Condition      9782 non-null   object
 33  Amenity                10000 non-null  bool
 34  Bump                   10000 non-null  bool
 35  Crossing               10000 non-null  bool
 36  Give_Way               10000 non-null  bool
 37  Junction               10000 non-null  bool
 38  No_Exit                10000 non-null  bool
 39  Railway                10000 non-null  bool
 40  Roundabout             10000 non-null  bool
 41  Station                10000 non-null  bool
 42  Stop                   10000 non-null  bool
 43  Traffic_Calming        10000 non-null  bool
 44  Traffic_Signal         10000 non-null  bool
 45  Turning_Loop           10000 non-null  bool
 46  Sunrise_Sunset         9999 non-null   object
 47  Civil_Twilight         9999 non-null   object
 48  Nautical_Twilight      9999 non-null   object
 49  Astronomical_Twilight  9999 non-null   object
dtypes: bool(13), float64(14), int64(2), object(21)
memory usage: 2.9+ MB

In [ ]:
#made some changes to test commit - jason